
.gjs-dashed {
  .container, .container-fluid,
  .row,
  .col, [class^="col-"] {
    min-height: 2.5rem !important;
  }
  .w-100 {
    min-height: .25rem !important;
    background-color: rgba(0,0,0,0.1);
  }
  img {
    min-width: 25px;
    min-height: 25px;
    background-color: rgba(0,0,0,0.5);
  }

  .row, .container, .col, p {
    padding: 7px;
  }
  .container {
    padding-right: 21px;
    padding-left: 21px;
  }
  /* Components */

  .btn-group,
  .btn-toolbar {
    padding-right: 1.5rem !important;
    min-height: 1.5rem !important;
  }
  
  latest-brands {
    background: #ccc;
    display: block;
    padding: 25px;
    min-height: 200px;
    margin: 10px;
  }
  latest-brands:after {
    content: 'In this place we will display latest brand from your company';
  }

  simple-counter {
    font-size: 69px;
  }
  simple-counter::after {
    content: attr(prefix) attr(end) attr(suffix) attr(src);
  }

  p {
    min-height: 2.5rem !important;
    width: 100%;
  }

  
}
